<!-- <div class="home">
    <button mat-raised-button color="primary">Primary</button>
</div> -->

<div class="">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Beach Map</span>
    <span class="example-spacer"></span>
    <div class="wrapper-menu">
      <button mat-button>Home</button>
      <button mat-button>Contact</button>
      <button mat-button>Blog</button>
      <button mat-button>Menu</button>
      <button mat-button>Map</button>
    </div>
    <span class="example-spacer"></span>
    <div class="">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="slider-wrap">
    <div class="card">
      <p-carousel
        [value]="products"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-product pTemplate="item">
          <div
            class="border-1 surface-border border-round m-2 text-center py-5 px-3"
          >
            <div class="mb-3 flex items-center justify-center h-[200px]">
              <img
                src="{{ product.image }}"
                [alt]="product.name"
                class="shadow-2 w-full h-full"
              />
            </div>
            <div>
              <h4 class="mb-1">{{ product.name }}</h4>
              <h6 class="mt-0 mb-3">{{ "$" + product.price }}</h6>
              <p-tag
                [value]="product.inventoryStatus"
                [severity]="getSeverity(product.inventoryStatus)"
              ></p-tag>
              <div class="car-buttons mt-5">
                <button mat-raised-button color="primary">View beach</button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="mb-4">
    <map-view [options]="options"></map-view>
  </div>

  <div class="p-4">
    <div class="select-box">
      <mat-form-field>
        <mat-label>Area</mat-label>
        <mat-select
          [value]="valueSelect"
          (selectionChange)="selectFilterArea($event)"
        >
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="slider-wrap pb-4">
      <app-table [dataSource]="dataSource" [options]="options"></app-table>
    </div>
  </div>

  <div class="pb-4">
    <form-contact></form-contact>
  </div>
</div>
