<!-- <div class="home">
    <button mat-raised-button color="primary">Primary</button>
</div> -->

<div class="">
  <div class="">
    <nav
      class="navbar navbar-custom navbar-fixed-top one-page navbar-transparent"
      role="navigation"
    >
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand text-white" href="index.html">BeachMap</a>
        </div>
        <div class="menu-main" id="custom-collapse">
          <ul class="navbar">
            <li><a href="#totop">Home</a></li>
            <li><a class="section-scroll" href="#services">Services</a></li>
            <li><a class="section-scroll" href="#works">Works</a></li>
            <li><a class="section-scroll" href="#alt-features">Features</a></li>
            <li><a class="section-scroll" href="#team">Team</a></li>
            <li><a class="section-scroll" href="#pricing">Prices</a></li>
            <li><a class="section-scroll" href="#news">News</a></li>
            <li><a class="section-scroll" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="home-section home-full-height bg-dark" id="home">
      <div class="titan-caption">
        <div class="caption-content">
          <div class="font-alt mb-30 titan-title-size-1">
            Hello &amp; welcome
          </div>
          <div class="font-alt mb-4 titan-title-size-4">Beach Map</div>
          <a class="section-scroll btn btn-border-w btn-round" href="#"
            >Learn More</a
          >
        </div>
      </div>
    </section>
  </div>

  <div class="">
    <app-collections
      [collections]="collections"
      (handleEmitOptions)="handleEmitOptions($event)"
    ></app-collections>
  </div>

  <div class="mb-4" #mapView>
    <map-view [options]="options"></map-view>
  </div>

  <div class="p-4">
    <div class="select-box">
      <mat-form-field>
        <mat-label>Area</mat-label>
        <mat-select
          [value]="valueSelect"
          (selectionChange)="selectFilterArea($event)"
        >
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="slider-wrap pb-4">
      <app-table
        [dataSource]="dataSource"
        [options]="options"
        (handleEmitOptions)="handleEmitOptions($event)"
      ></app-table>
    </div>
  </div>

  <div class="pb-4">
    <form-contact></form-contact>
  </div>
  <div class="">
    <app-footer></app-footer>
  </div>
</div>
